.footer {
  font-family: 'Be Vietnam', sans-serif;
  padding: 60px 0;
  margin: 0;
  box-sizing: border-box;
}

.title { 
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.title  h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: #606060;

}

.title p {
  font-size: 26px;
  line-height: 1.5em;
  color: #606060;
}

.item-list {
  margin: 0 -15px;
  display: flex;
  flex-flow: row wrap;
  
}

.item {
  width: 25%;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .item {
    width: 50%;
  }
}

.item p {
  font-size: 26px;
  color: #606060;
  font-style: inherit;
}

.item span {
  color: #0bbae7;
}