
.banner {
  position: relative;

  font-family: 'Be Vietnam', sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  
  margin: 0 auto;
 
  height: 406px;
  overflow: hidden;
  display: flex;
 
}

.banner__info {
  margin-top: 30px;
  text-align: center;
  width: 65%;
  
}

.banner__title { 
  font-weight: bold;
  font-size: 40px;
  color: #0C2440;
}

.banner__desc {
  font-weight: 400;
  font-size: 25px;
  color: #06BAE8;
}
.banner__btn {
  width: 274px;
  height: 67px;

  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;

  background: linear-gradient(80.25deg, #3DFFC8 1.31%, #40F6CF 15.32%, #49DCE1 38.61%, #57B3FF 68.19%);
  box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
  border-radius: 20px;
  border: none;
  
  outline: none;
  cursor: pointer;
}
.banner__btn:hover {
  background: linear-gradient(80.25deg,#1abc9c ,#3498db)
}
.banner__image {
  padding-left: 100px;
  position: relative;
  width: 35%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.banner__image-1 { 
  position: absolute;
  top: -30px;
  left: 150px;

  width: 302px;
  height: 459px;
  overflow: hidden;
  z-index: 2;
}

.banner__image-2 {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 115px;

  width: 370px;
  height: 421px;
}


.smallPoint{
  position: absolute;
  left: 0px;
  bottom: 100px;
}
.bigPoint {
  position: absolute;
  right:  0px;
  bottom: -55px;
}